# Konfigurasi Database MySQL
DB_CONNECTION=mysql
DB_HOST=
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASSWORD=

# Konfigurasi Redis Server (optional)
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=

# Konfigurasi SMTP Server
SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=587
SMTP_SECURE=tls
SMTP_USER=apikey
SMTP_PASS=
MAIL_FROM=
MAIL_NAME=

# Konfigurasi AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=
